<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis reservas - Alquila tus vehículos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<div class="wrapper-logged">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <section class="container" id="bookingCar-section">
        <div class="wrapper-container">
            <h3 style="margin-bottom: 4vh; text-transform: uppercase">Reservas Pendientes</h3>
            <ul>
                <!--<li th:each="reserva : ${reservas}" th:text="|${reserva.vehiculo.marca} ${reserva.vehiculo.modelo} - ${reserva.vehiculo.matricula} - ${#dates.format(reserva.fechaInicio, 'dd/MM/yyyy')} - ${#dates.format(reserva.fechaFin, 'dd/MM/yyyy')}|" style="margin-bottom: 2vh; margin-left: 2vh"></li>-->
            </ul>
        </div>
</div>
</body>
</html>