<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>

<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home.html}">
            <img th:src="@{/images/logo.png}" class="logo-header d-inline-block" width="121" height="63" alt="Logo" />
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav" id="navbar-items">
                <li class="nav-item" th:class="${currentPage == 'home' ? 'active' : ''}">
                    <a th:href="@{/home}">INICIO</a>
                </li>
                <li class="nav-item" th:class="${currentPage == 'coches' ? 'active' : ''}">
                    <a th:href="@{/coches}">NUESTROS VEHICULOS </a>
                </li>
                <li class="nav-item" th:class="${currentPage == 'reservas' ? 'active' : ''}">
                    <a th:href="@{/reservas}">RESERVAS</a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-toggle="dropdown">ADMINISTRAR <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/administracion/contratos-alquiler}">CONTRATOS</a></li>
                        <li><a href="#" th:href="@{/administracion/clientes}">CLIENTES</a></li>
                        <li><a href="#" th:href="@{/administracion/oficinas}">OFICINAS</a></li>
                        <li><a href="#" th:href="@{/administracion/vehiculos}">VEHÍCULOS</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signin" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>